{% extends 'layouts/base.html' %}
{% block content %}

<div class="file">
  {% for file in files %}
    {% set file = dict(file) %}
      <div>
        <h2 class="text-2xl font-bold text-center text-gray-800 my-4">File: {{ file.original_filename }}</h2>
        {# <p class="text-lg text-center text-gray-600">Uploaded by: {{ file.uploaded_by }}</p> #}
        <p class="text-lg text-center text-gray-600">File ID: <a href="/download/{{ file.id }}">{{ file.id }}</a></p>
        {# <p class="text-lg text-center text-gray-600">File URL: <a href="{{ file.url }}" class="text-blue-500 hover:underline">{{ file.url }}</a></p> #}
      </div>
  {% endfor %}

  {% if files|length == 0 %}
    <p class="text-lg text-center text-gray-600 mt-4">No files available.</p>
  {% endif %}
</div>

{% endblock %}